body{
    main{
        section.main-area{
            min-height: 70vh;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
      
            div.info{
                flex-basis: 450px;
                // border: 2px solid red;
                h1{
                    font-size: 3.5rem;
                }
                h2{
                    font-size: 1rem;
                }
                a{
                    color: white;
                    background-color:$themeColor;
                    padding: 0.25rem 0.5rem;
                    font-size: 1.5rem;
                    border-radius: 20px;
                    display: inline-block;
                    margin-top: 1rem;
                    text-decoration: none;  
                    transition: all 0.2s ease ;
                    &:hover{
                        transform: scale(1.2);
                    }
              }
            }
            div.img-area{
                margin: 1rem;
                flex-basis: 450px;
                // border: 2px solid red;
                img{
                    width: 100%;
                }
            }
        }
        section.about-me{
            background-color: rgb(161, 227, 251);
            padding: 5rem 0rem;
            display: flex;
            justify-content: center;
            section.description{
                width: 80%;
                text-align: center;
               h2{
             
                font-size: 2rem;
               }
               div.progress-bar-area{
                .progress-title{
                    margin-top: 1rem;
                    text-align: center;
                }
               }
            }
        }
        section.resume {
           display: flex;
           flex-wrap: wrap;
           padding: 2rem;
        //    justify-content: center;
        //    align-items: center;
       
           section.table{
            --bs-table-bg:none;
            flex: 5 0 500px;
        
            padding: 2rem;
            table{
                border-collapse: collapse;
                tr{
                    border-bottom: 2px solid gray;
                    transition: all 0.2s ease;
                    &:hover{
                        background-color: $themeColor;
                    }
                    td{
                        padding: 1rem;
                    }
                }
            }
           }

           section.picture{
            flex: 1 1 500px;
            // border: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            img{
                width: 80%;
            }
            div.Rect1{
              width: 80vw;
              height: 40vh;
              border: 10px solid $themeColor;
              position: absolute;
              top:400px;
              left: -50px;
              z-index: -1;
            }
            div.Rect2{
                width: 50vw;
                height: 60vh;
                border: 10px solid $themeColor;
                position: absolute;
                top:50px;
                left: -100px;
                z-index: -1;
              }
              div.Rect3{
                width: 30vw;
                height: 90vh;
                border: 10px solid $themeColor;
                position: absolute;
                top:300px;
                left: 120px;
                z-index: -1;
              }
          
           }
        }
    }
}

@media screen and (max-width:700px) {
    body{
        main{
            // section.about-me{
            //     section.description{
            //         width: 90%;
            //     }
            // }
            section.resume {
                overflow-x: auto;
                padding: 0rem;
               
                section.picture{
                    div.Rect1,div.Rect2,div.Rect3{
                        display: none;
                    }
                }
            }
        }
    }
}